.cards{

 
}

.singleCard{
    width: 230px;
    height: 100px;
    margin-top: 40px;
    padding: 15px;
    border-radius: 10px;
}

.manager-info{
display: grid;
grid-template-columns: auto auto;
align-items: center;
}