.sidebar-detail {
    background: #2F323A;
    height: 100vh;
    color: #fff;
    padding-left: 50px;
}
.sidebar-detail li {
    margin: 20px 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}